#image_preview {
    border: none;
    border-radius: 8px;

    
    color: white;
    transition: all .5s ease-in;
}
#image_preview.opened {
    transition: all .5s ease-in-out;
}
#image_preview::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s ease-in;
}
#image_preview.opened::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in;
}

.inner-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    background-color: var(--primary-color);

    max-width: 800px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 30px;

    border: none;
    border-radius: 8px;
    padding: 30px 80px;

    font-family: Comic;
    letter-spacing: 2px;
}
.inner-dialog h2 {
    text-align: left;
    width: 90%;
    font-size: 32px;
}

#dialog_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    all: unset;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
}
.close-btn img {
    width: 44px;
    height: 44px;
}
.navigation-btn:focus, .navigation-btn:hover {
    box-shadow: white 0 0 20px; 
    transition: all .1s ease-in;
}

#dialog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preview {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 4px;
}

#dialog_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 80px;
}

.dialog-btn {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.dialog-btn:focus{
    box-shadow: white 0 0 20px; 
}
.dialog-btn img {
    height: 60px;
    width: auto;
}


@media (max-width: 992px) {
    .inner-dialog {
        padding: 30px 60px;
    }
}

@media (max-width: 767px) {
    .inner-dialog {
        padding: 30px 50px;
    }
}

@media (max-width: 568px) {
    .inner-dialog {
        padding: 30px 40px;
    }
    .inner-dialog h2 {
        font-size: 28px;
        max-width: 70%;
    }
    #dialog_navigation {
        display: flex;
        justify-content: space-between;
        
        gap: 0;
    }
}

@media (max-width: 470px) {
    .inner-dialog h2 {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    #image_preview {
        width: 90vw;
    }
    .inner-dialog {
        padding: 30px 25px;
    }
    .inner-dialog h2 {
        font-size: 20px;
    }
    .dialog-btn, .dialog-btn img {
        width: 50px;
        height: 50px;
    }
}
