* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-wrap: break-word;
}

.overflow-hidden {
    overflow: hidden;
}

/* Main style for page */

/* Navbar styling */
.navbar {
    width: 100%;
    height: 140px;
    background-color: #082129;
}

.logo {
    display: flex;
    height: 140px;
    padding-left: 30px;
}

.logo img {
    max-width: 400px;
    width:  80vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: calc(100vh - 340px);
    font-family: Comic;
    background-color: #05171E;
    color: white;
    padding: 30px 60px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

/* gallery styling */
#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}
#gallery h1 {
    padding-bottom: 40px;
}


.column {
    all: unset;            
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    border: 4px solid white;
    border-radius: 5px;
    transition: all .15s ease-in-out;
    overflow: hidden;
}
.column:hover {
    box-shadow: white 0 0 20px;
}

.column:focus-visible {
  outline: 2px solid #0066ff;    
}
.column img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform .17s ease-in-out;
    display: block;
}
.column:hover img {
    transform: scale(1.2); 
}

/* Footer styling */
#main_footer {
    height: 200px;
}
.footer-content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
    height: 200px;
    background-color: #082129;
    font-family: sans-serif;
    text-align: center;
}

.footer-links img{
    height: 80px;
}

.copyright, .copyright a {
    color: white;
}



/* Media Queries */

@media (max-width: 767px) {
    .logo {
        justify-content: center;
        padding: 0;
    }
}

@media(max-width: 568px) {
    h1 {
        font-size: 40px;
    }
}

@media(max-width: 470px) {
    h1 {
        font-size: 32px;
    }
}