* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-wrap: break-word;
}

.overflow-hidden {
    overflow: hidden;
}

/* Main style for page */

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #082129;
}

.logo {
    width: 100%;
    height: 140px;
}

.logo img {
    max-width: 400px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: calc(100vh - 340px);
    font-family: Comic;
    background-color: #05171E;
    color: white;
}

h1 {
    text-align: center;
    font-size: 48px;
}

/* gallery styling */
#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 30px 60px;
}
#gallery h1 {
    padding-bottom: 40px;
}

.column {
    cursor: pointer;
    margin: 10px;
    border: 4px solid white;
    border-radius: 5px;
}

.column img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Footer styling */
footer {
    height: 200px;
}
.footer-content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
    height: 200px;
    background-color: #082129;
    font-family: sans-serif;
    text-align: center;
}

.footer-links img{
    height: 80px;
}

.copyright, .copyright a {
    color: white;
}
